@import "../variables";
@import "./animation";
@import "./sidebar-wrapper";

body {
    font-size: .9rem;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;

    .page-content {
        width: 100%;
        transition: margin-left .3s ease;
    }

    &.toggled {

        .sidebar-wrapper {
            left: 0px;
        }

        .page-content {
          margin-left: $sidebar-width;
        }
    }

}