<div class="task">
  <div class="row">
    <div class="col-1">
      <p class="checkmark"><i class="far fa-circle"></i></p>
    </div>
    <div class="col-7">
      <p>{{ task.task }}</p>
    </div>
    <div class="col-3">
      <p class="date">{{ task.finishDate }}</p>
    </div>
    <div class="col-1">
      <p class="important" *ngIf="!task.isImportant" (click)="setImportant(1)"><i class="far fa-star"></i></p>
      <p class="important" *ngIf="task.isImportant" (click)="setImportant(1)"><i class="fas fa-star"></i></p>
    </div>
  </div>
</div>