<div class="task">
  <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
    <div class="row align-items-center">
      <div class="col-1 task-check">
        <p>
          <ng-content></ng-content>
          <mat-checkbox (change)="setFinished()" [checked]="task.finished" class="ml-3 bg-color" [ngClass]="colorString"></mat-checkbox>
        </p>
      </div>
      <div class="col-6 task-name">
        <p *ngIf="!isEditable"><span [ngStyle]="crossed">{{ task.task }}</span></p>
        <div *ngIf="isEditable">
          <input type="text" id="task" name="task" placeholder="Taak" formControlName="task" minlength="2">
        </div>
      </div>
      <div class="col-3 text-right task-date">
        <p class="date" *ngIf="!isEditable">{{ task.finishDate }}</p>
        <div *ngIf="isEditable">
          <input type="date" id="finishDate" name="finishDate" formControlName="finishDate" minlength="2">
        </div>
      </div>
      <div class="col-2 task-options">
        <p class="important" *ngIf="!task.isImportant"><i class="far fa-save save-icon" *ngIf="isEditable" (click)="onSubmit()"></i><i class="far fa-star" (click)="setImportant()"></i> <i class="fas fa-ellipsis-v task_menu" [matMenuTriggerFor]="menu"></i></p>
        <p class="important" *ngIf="task.isImportant"><i class="far fa-save save-icon" *ngIf="isEditable" (click)="onSubmit()"></i><i class="fas fa-star" (click)="setImportant()"></i> <i class="fas fa-ellipsis-v task_menu" [matMenuTriggerFor]="menu"></i></p>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editTask()">
          <i class="fas fa-edit"></i>
          <span> Bewerken</span>
        </button>
        <button mat-menu-item (click)="deleteTask()">
          <i class="fas fa-trash-alt"></i>
          <span> Verwijderen</span>
        </button>
      </mat-menu>
    </div>
  </form>
</div>