<div class="page-wrapper toggled" id="page-wrapper">
  <app-sidebar (changedList)='setLists($event)' #sidebar></app-sidebar>
  <!-- page-content  -->
  <main class="page-content" [ngStyle]="currentStyles">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <h2>
                    <span class="hr">
                      <i class="fas fa-bars sidebar-icon" (click)='toggle_sidebar()'></i>
                      <span>{{ categoryName }} </span>
                      <i class="fas fa-ellipsis-v category-menu" [matMenuTriggerFor]="menu" *ngIf="showOptions"></i>
                    </span>
                  </h2>
              </div>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addList()">
                  <i class="far fa-plus-square"></i>
                  <span> Nieuwe lijst</span>
                </button>
                <button mat-menu-item (click)="editCategoryDialog()">
                  <i class="fas fa-edit"></i>
                  <span> Bewerken</span>
                </button>
                <button mat-menu-item (click)="askDeleteCategory()">
                  <i class="fas fa-trash-alt"></i>
                  <span> Verwijderen</span>
                </button>
              </mat-menu>
          </div>
          <div class="row">
            <div class="col-10">
              <app-list *ngFor="let list of lists" [list]="list" (updatedTask)="refreshSideBar()" (deletedList)="refreshLists()" [color]='color'></app-list>
            </div>
          </div>
      </div>
  </main>
</div>