.page-content {
  height: 100vh;
  background-color: #1EB7C3;
  overflow-x: hidden;
}

.page-wrapper {
  overflow-x: hidden;
}

.hr {
  padding-bottom: 5px;
  border-bottom: 1px black solid;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

label.mat-checkbox-layout {
  margin-bottom: 0 !important;
}

.sidebar-icon {
  font-size: 1.5rem;
  height: 2rem;
}

.category-menu {
  font-size: 1rem;
  vertical-align: middle;
}