<div class="list">
  <div class="row">
    <h2 class="list-title">{{ list.name }}</h2>
    <select name="sort" (change)='selectFilter($event)'>
      <option value="date_asc">Date Asc</option>
      <option value="date_desc">Date Desc</option>
      <option value="own_order">Own order</option>
    </select>
  </div>
  <div cdkDropList (cdkDropListDropped)='drop($event)'>
    <app-task *ngFor="let task of list.todo" [task]="task" [draggable]="draggable" cdkDrag>
      <i *ngIf='draggable' class="fas fa-grip-vertical dragger" cdkDragHandle></i>
      <div *ngIf='!draggable' cdkDragHandle></div>
    </app-task>
  </div>
</div>