//override Bootstrap variables and custom mixins
@import "scss/variables";

//reboot
@import "scss/reboot";

@import "node_modules/bootstrap/scss/bootstrap";

//custom code/partials
@import "scss/sidebar/main.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label.mat-checkbox-layout {
  margin-bottom: 0 !important;
}

@import "scss/colors";